<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke" class="ru.tsc.tav.app.springidol.Juggler">
        <constructor-arg value="15" />
    </bean>
    <bean id="sonnet29" class = "ru.tsc.tav.app.springidol.Sonnet29"/>
    <bean id="poeticDuke" class="ru.tsc.tav.app.springidol.PoeticJugger">
        <constructor-arg value="10"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
</beans>